@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
  @apply mx-auto px-14 max-w-screen-xl;
}

.section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-[#ffbc0d] rounded-sm text-black;
}

.secondary-cta {
  @apply bg-[#ffbc0d] text-black rounded-sm;
}

.hero {
  padding: 1%;
  border-style: 1px solid black;
  width: 100%;
  position: relative;
}

.textClass {
  height: min-content;
}

.accordion__button:before {
  content: "+";
  float: right;
  margin-right: 1em;
  font-size: 2em;
  line-height: 0.5em;
  color: #ffbc0d;
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  content: "\2014";
}

.accordion__button,
.accordion__panel {
  color: black !important;
}

.accordion-content {
  transition: 0.2s ease-out;
}

.accordion__panel {
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 2;
}

.slick-prev::before,
.slick-next::before {
  color: green !important;
  font-size: 2rem !important;
}

.slick-prev,
.slick-next {
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  top: 40% !important;
}

.slick-list {
  width: 80%;
  margin: 0 auto !important;
}

.slick-prev {
  left: 2em;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 7% !important;
  z-index: 1;
}

.slick-next {
  right: 7% !important;
  z-index: 1;
}

.services li:last-child::after {
  content: "";
}

.services li::after {
  content: "|";
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.addrGrid {
  text-align: left !important;
}

input.demo:focus::placeholder {
  color: transparent;
}

@media only screen and (max-width: 768px) {
  .slick-prev {
    left: 0% !important;
    z-index: 1;
  }

  .slick-next {
    right: 2% !important;
    z-index: 1;
  }
}